.individual-btn2{
    background: #E4E4E4;
   max-width: 250px;
   padding: 12px 40px;
   text-decoration: none;
   
   border: none;
}
.business-btn2{
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
    max-width: 250px;
    width: 40%;
    height: 39px;
}