

/* new css */
.carrier{
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.form button{
    width: 42%;
    margin: 0 auto;
    height: 50px;
    cursor: pointer;
    background-color: #7C20BF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

