




/* NavBar2 Starts here */

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    font-weight: lighter;
    font-family: sans-serif;
    background-color: #7C20BE;
}
.showUl {
    display: flex;

}
.ul{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.ul li{
    list-style-type: none;
    margin: 10px;
}
.showUl li{
    list-style-type: none;
    margin: 10px;
}
.ul li .Link{
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
    color: #fff;
}
.showUl li .Link {
    text-decoration: none;
    color: #fff;
}

.getStartedLink{
    padding: 13px 30px;
    background-color: white;
    border-radius: 2px;
    color: rgb(32, 132, 247);
    text-decoration: none;
}

.Login{
    padding: 13px 38px;
    border: 1px solid white;
    border-radius: 2px;
    background-color: #7C20BE;
    text-decoration: none;
    color: white;
}
@media (min-width:819px) {
    .menu{
        display: none;
    }
}

@media (max-width:819px) {
    .menu{
        display: flex;
        flex-direction: column;
    }
    .menu div{
        background-color:white;
        height: 3px;
        width: 15px;
        margin-top: 2px;
    }
    .navBar{
        position: relative;
    }
    .ul{
        /* display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: #7C20BE;
        padding-bottom: 10px;
        gap: 10px; */
        display: none;
    }
    .showUl{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 80px;
        background-color: #7C20BE;
        padding-bottom: 10px;
        gap: 10px;
    }
   
    
}




