.carrier{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
    transition: 0.3s;

}
.carrier button{
    margin-top: 20px;
    margin-right: 10px;
    color: #ffffff;
    font-weight: lighter;
    background-color: purple;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 0.3s;
}
.carrier button:hover{
    border: 1px solid purple;
    background-color: white;
    color: purple;
    font-weight: lighter;
    
}

.carrier p{
    font-family: sans-serif;
    /* color: #ffffff; */
    font-family: sans-serif;
    font-weight: lighter;
    color: antiquewhite;

}
.newsText{
    background-image: url(../Images/BreakingNewsImgMobile.jfif);
    /* background-color: rgb(196, 6, 196); */
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.showSport{
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(../Images/Premiums.jfif); */
    transition: 0.3s;
    background-color: black;
}
.white{
    color:white;
}
.showCrypto{
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Images/BiggestEventBG.jfif);
    transition: 0.3s;

}
