
body{
  font-family: sans-serif;
}

/* new css starts here */

.section1{
  background-image: url(../Images/Group\ 127.png);
  background-size: cover;
  background-color: #7c20be;
  padding: 30px 50px;
  color: #fff;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.textCarrier{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 620px;
  gap: 70px;
  
}

.linkCarrier{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.textCarrier h1{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.section1{
  text-align: left;
}

.get-started2{
padding: 13px 7rem;
border: 1px solid white;
border-radius: 3px;
color: rgb(9, 59, 151);
text-decoration: none;
background-color: #fff;
}
.appleSecond{
  margin-right: 10px;
}
@media (max-width:767px) {
  .section1{
    padding: 20px 40px;
  }
  .textCarrier h1{
    font-size: 1.8rem;
  }
  .textCarrier{
    max-width: none;
  }
  .get-started2{
    padding: 10px 5rem;
    margin-left: 0px;

  }
  .linkCarrier{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .link2Carrier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

}