

.top-section{
    display: flex;
    
}
.each-rate{
    background-color: rgb(104, 212, 212);
    margin: 10px;
    padding-bottom: 0.1;
   background-color: #baa4c5;
}
.each-rate p{
    font-weight: 600;
    font-size: larger;
    color: rgb(26, 20, 20);
}
@media (max-width:481px) {
    .each-rate{
        background-color: rgb(217, 223, 198);
        margin-left: -29px;
    }
    .each-rate p{
        color: rgb(26, 20, 20);

    }
    
}