.eachReview{
  display:flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.section6{
  padding-top: 30px;
  padding-bottom: 30px;
}

.eachReview button{
  border: 1px solid white;
  color: white;
  font-weight: bolder;
  background-color: #7c20be;
}


