.individual-btn3{
   
    text-decoration: none;
    background: #FFFFFF;
    border-radius: 24px;
    border: none;
    padding: 10px 90px;
    color: black;
}
.buy-btn4{
    text-decoration: none;
    background: #E4E4E4;
   padding: 10px 90px;   
   border: none;
   color: black;
}
@media (max-width:481px) {
    .individual-btn3{
        display: block;
        
        margin-top: 20px;
    }
    
}