.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px ;
    background-color: white;
    box-shadow: 3px 4px 5px rgb(226, 224, 221);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    transition: 0.3s;
}

.fixedNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px ;
    background-color: rgb(252, 252, 252);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: 0.3s;
    box-shadow: 3px 4px 5px rgb(226, 224, 221);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}
header a{
    text-decoration: none;
    color: black;
}

.green{
    color: rgb(134, 214, 14);
    position: absolute;
   bottom: 0;
    right: 0;
    padding: 5px 0px 5px 0px ;
    margin-bottom: 20px;
    margin-left: 7px;
    font-size: 20px;
    font-weight: 400;

}
.red{
    color: red;
    position: absolute;
   bottom: 0;
    right: 0;
    padding: 5px 0px 5px 0px ;
    margin-bottom: 20px;
    margin-left: 7px;
    font-size: 20px;
    font-weight: 400;
}
.cartRelative{
    position: relative;
}

.cartIcon{
    font-size: 30px;
    color: black;
    background-color: white;
}